:root {
  --primary-color: #7F4ADE;
  --primary-color-dark: #563398;
  --secondary-color: #B0B0B0;
  --background-color: #121212;
  --surface-color: #1E1E2C;
  --primary-text-color: #FFF;
  --secondary-text-color: #B0B0B0;

  /* text Size*/
  --font-size--p: 0.9rem;
  --font-size--h3: 1rem;
  --font-size--h2: 1.2rem;
  --font-size--h1: 3rem;

  --bg-color-traspirant-nav:#11143033;

  /* --body-max-width: 1184px; */
  --body-max-width: 1200px;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

html,
body {
  color: var(--primary-text-color);
  background-color: var(--background-color);
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  scroll-behavior: smooth;
  /* Font-Family-Setting Regular*/
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;

  /* background-color: var(  --bg-color-light-blue); */
}
body > div{
  max-width: var(--body-max-width);
  margin-left: auto;
  margin-right: auto;
}

main {
  overflow: hidden;
}
a {
  text-decoration: none;
}
a:visited, a:hover, a:active{
  color: var(--primary-color);
}

button {
  padding: 10px 40px;
  background: var(--primary-color);
  box-shadow: 0px 5px 30px var(--primary-color);
  color: #fff;
  border-radius: 20px;
  outline: none;
  border: none;
  margin: auto;
  transition: all 0.2s ease;
  cursor: pointer;
  transition: all 0.3s ease;
  opacity: 0.9;
  font-family: inherit;
  font-weight: 700;
}
button:hover {
  opacity: 1;
}

/*--------------------------------------------------------------
# Top Sticky Bar.
--------------------------------------------------------------*/
#top-sticky-bar {
  background-color: transparent;
  color: var(--primary-color);
  height: 60px;
  max-width: var(--body-max-width);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between !important;
  position: fixed;
  left: 0%;
  right: 0%;
  padding: 8px;
  z-index: 2;
  transition: background-color 0.3s ease, box-shadow 0.5s ease;
}

.add-shadow {
  box-shadow: 0 2rem 4rem rgb(0 0 0 / 15%) !important;
  background: #7F4ADE !important;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

#top-sticky-bar a {
  color: #fff;
  margin: 0;
  padding: 0%;
  margin-right: 15px;
  font-size: var(--font-size--h2);
  font-weight: bold;
  margin-left: 25px;
  opacity: 0.9;
  position: relative;
}
#top-sticky-bar a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border: 2px solid var(--primary-color);
}

#top-sticky-bar a:hover {
  opacity: 1;
}

/* # hamburger Menu icon. */
#hamburger-menu {
  cursor: pointer;
  z-index: 9;
  width: 30px;
  height: 25px;
  transition: transform 0.3s ease;
  margin-right: 25px;
}
#hamburger-menu:hover {
  transform: scale(1.1);
}
#hamburger-menu > div {
  height: 1px;
  width: 50%;
  background-color: #fff;
  padding: 1px;
  border-radius: 4px;
}
#hamburger-menu > div:nth-child(2) {
  margin: 5px;
}

/*--------------------------------------------------------------
# Nav Bar.
--------------------------------------------------------------*/
nav {
  position: fixed;
  height: 100%;
  max-width: var(--body-max-width);
  margin-left: auto;
  margin-right: auto;
  background: var(--bg-color-traspirant-nav);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  z-index: 9;
  padding: 8px;
  overflow: hidden;
  inset: 0;
  display: flex;
  align-items:center;
  justify-content: end;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.nav-show {
  visibility: visible;
  opacity: 1;
}
nav > div {
  background-color: var(--surface-color);
  border-radius: 5px;
  overflow: hidden;
  padding: 2px 10px;
  height: 80%;
  padding-top: 29px;
  max-width: 400px;
  overflow-y: scroll;
  flex: 1;
}
nav div > ul {
  list-style-type: none;
}

nav div ul li {
  padding: 8px 10px;
  width: 100%;
  margin: 2px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: var(--font-size--h3);
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
}
nav ul li:hover {
  margin-left: 10px;
  color: var(--primary-color);
}

/*--------------------------------------------------------------
# hero-section
--------------------------------------------------------------*/
#hero-section {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  padding: 10px;
  min-height: 100svh;
}
#hero-section div:nth-child(1) {
  z-index: 1;
  display: grid;
  align-content: center;
  padding: 6px;
  padding: 20px;
}
#hero-section div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  margin-top: 30px;
  height: auto;
  align-content: center;
  align-self: center;
}
#hero-section div h1 {
  font-size: var(--font-size--h1);
  margin: 0px;
  text-wrap: auto;
  font-weight: 100;
  color: var(--primary-color-dark);
  line-height: 1.2;
}
#hero-section div h1 span {
  color: var(--primary-color);
}
#hero-section div h2 {
  font-size: var(--font-size--h2);
  margin: 0px;
  text-wrap: auto;
  line-height: 1.3;
  color: var(--secondary-text-color);
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
}

@media (max-width: 772px) {
  :root {
    --font-size--h1: 2rem;
  }
}
@media (max-width: 575.98px) {
  #hero-section {
    grid-template-columns: none;
  }
  #hero-section div:nth-child(1) {
    z-index: 1;
    padding: 4px;
    margin: 0px;
    margin-top: 80px;
  }
  #hero-section h1 {
    line-height: 1.1 !important;
  }
}

/*--------------------------------------------------------------
# About Section.
--------------------------------------------------------------*/
#about {
  background-color: var(--surface-color);
  padding: 50px;
  display: grid;
  grid-template-columns: 1.3fr 1fr;
}
#about div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#about h2 {
  font-size: var(--font-size--h1);
  text-align: center;
  color: var(--primary-text-color);
  position: relative;
}
#about h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border: solid var(--primary-color);
}
#about p {
  color: var(--secondary-color);
  font-size: var(--font-size--h2) !important;
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
}
@media (max-width: 575.98px) {
  #about {
    padding: 0px;
    grid-template-columns: none;
  }
  #about p {
    padding: 35px;
  }
}

/*--------------------------------------------------------------
# Service Section.
--------------------------------------------------------------*/

#service div:has(h2) {
  display: flex;
  align-content: center;
  justify-content: center;
}

#service h2 {
  font-size: var(--font-size--h1);
  text-align: center;
  color: var(--primary-text-color);
  position: relative;
  width: max-content;
}
#service h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border: solid var(--primary-color);
}
#service .card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
  align-items: center;
  padding: 16px;
}
#service .card-container .card {
  width: 100%;
  display: flex;
  justify-content: center;
}
#service .card-container .card-item {
  height: max-content;
  width: 300px;
  background-color: var(--surface-color);
  overflow: hidden;
  border-radius: 12px;
  /* outline: 1px solid var(--color-blue-light); */
  color: var(--primary-text-color);
  font-size: var(--font-size--h2) !important;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
  transition: all 1s ease;
}
#service .card-container .card-item p{
color: var(--secondary-color);
font-size: var(--font-size--h2) !important;
line-height: 1.3;
}
#service .card-container .card-item:hover {
  outline: 1px solid var(--color-blue-light);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
#service .card-container .card figure {
  display: flex;
  justify-content: center;
}

#service .card-container .card img {
  height: 50px;
  width: 50px;
  background-color: #4153f193;
  padding: 25px;
  border-radius: 20px;
  object-fit: fill;
}
#service .card-container .card:nth-child(1) img {
  background-color: #f1414193;
}
#service .card-container .card:nth-child(2) img {
  background-color: #f141c893;
}
#service .card-container .card:nth-child(3) img {
  background-color: #4153f193;
}
#service .card-container .card:nth-child(4) img {
  background-color: #8741f193;
}
#service .card-container .card h3 {
  font-size: var(--font-size--h3);
  text-align: center;
}
#service .card-container .card p {
  padding: 20px;
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center;
}
/*--------------------------------------------------------------
# Contact Section.
--------------------------------------------------------------*/
#contact{
  background-color: var(--surface-color);
  padding: 25px;
}
#contact a{
  font-weight: 600;
  color: var(--primary-color);
}
#contact h2 {
  font-size: var(--font-size--h1);
  text-align: center;
  color: var(--primary-text-color);
  position: relative;
  width: max-content;
}
#contact h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border: solid var(--primary-color);
}
#contact div:has(h2){
  display: flex;
  justify-content: center;
}
#contact .contact-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
#contact .contact-container .contact-item{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}
@media (max-width: 480px) {
  #contact .contact-container{
    grid-template-columns: none;
  }
}
#contact .contact-container .contact-item div{
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--surface-color);
  border-radius: 5px;
}
#contact .contact-container .contact-item div h3, #contact .contact-container .contact-item div p{
  margin: 5px;
  padding: 2px;
}
#contact .contact-form-container{
  background-color: var(--surface-color);
  border-radius: 5px;
  display: flex;
  justify-content: center;
}
#contact .contact-form-container form{
  display: flex;
  flex-direction: column;
  padding: 8px;
  flex: 1;
  max-width: 80%;
}
#contact .contact-form-container form input,#contact .contact-form-container form textarea{
  margin: 5px;
  outline: none;
  border: none;
  padding: 8px;
  outline: 1px solid var(--primary-color);
  border-radius: 5px;
  font-family: inherit;
}
#contact #form-sumbit-button{
  padding: 10px 40px;
  background: var(--primary-color);
  color: #fff;
  border-radius: 20px;
  outline: none;
  border: none;
  margin: auto;
  transition: all 0.2s ease;
  cursor: pointer;
  transition: all 0.3s ease;
  opacity: 0.9;
  font-family: inherit;
  font-weight: 700;
  margin-top: 15px;
}
#contact #form-sumbit-button:hover {
  opacity: 1;
}

/*--------------------------------------------------------------
# Footer.
--------------------------------------------------------------*/
footer {
  background-color: var(--surface-color);
  margin: 0%;
  padding: 10px;
  color: var(--secondary-color);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 12px;
  overflow: hidden;
  padding-bottom: 40px;
}
footer a{
  font-weight: 600;
  color: var(--primary-color);
}
@media (max-width: 480px) {
  footer {
    grid-template-columns: none;
  }
}
footer > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer div:nth-child(3){
  text-align: center;
}
footer .social-media div{
  display: flex;
  flex-direction: row;
}
footer h3{
  margin: 4px;
}
footer .social-media div img{
  width: 25px;
  height: 25px;
  margin: 3px;
}
footer .usefull-links div{
  display: flex;
  flex-direction: column;
}
